{% macro block_icon(title, type, value, icon, light = false) %}
    <div>
        <button type="button"
                class="sharing-btn {% if light %}btn-light{% endif %}"
                value="{{ value }}"
                data-type="{{ type }}"
                data-title="{{ title }}">
            <i class="{{ icon }} fa-2x"></i>
            <span class="tooltip-text">{{ title }}</span>
        </button>
    </div>
{% endmacro %}
