{% import 'macros/input-copy.html.twig' as copy %}

{% for gif in gifs %}
    <li class="li-gif">
        <div class="square_btn" data-id="{{ gif.slug }}" title="{{ gif.quote }}">
            {{ gif.quote }}
        </div>
        <div id="{{ gif.slug }}-modal" class="modal-background">
            <div class="modal-content">
                <span class="modal-close">&times;</span>
                <div id="modal-quote">
                    <a href="{{ gif.url }}">{{ gif.quote }}</a>
                    {% if gif.episode %}
                        <br />
                        <a href="{{ path('get_by_episode', {'code': gif.episode}) }}" class="small-link footer-tm-small">{{ gif.episode|format_episode_long_name }}</a>
                    {% endif %}
                </div>
                <span id="{{ gif.slug }}-img" data-img="{{ gif.image }}"></span>
                <div class="modal-gif">
                    <img id="{{ gif.slug }}-modal-img" /><br /><br />

                    <div class="copy-block">
                        Partager sur :<br /><br />

                        <div class="copy-block-social">
                            {{ copy.block_icon('Slack', 'social', gif.url, 'fa fa-slack') }}
                            {{ copy.block_icon('Discord', 'social', gif.image, 'fa fa-discord') }}
                            {{ copy.block_icon('Twitter', 'social', gif.image, 'fa fa-twitter') }}
                            {{ copy.block_icon('Facebook', 'social', gif.url, 'fa fa-facebook') }}
                            {{ copy.block_icon('Reddit', 'social', gif.url, 'fa fa-reddit') }}
                        </div>

                        <div class="copy-block-divider">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</div>

                        <div class="copy-block-other">
                            {{ copy.block_icon('Lien du GIF', 'media', gif.image, 'fa fa-image', true) }}
                            {{ copy.block_icon('Lien avec la citation', 'media', gif.url, 'fa fa-quote-right', true) }}
                            {{ copy.block_icon('Lien court', 'media', gif.shortUrl, 'fa fa-link', true) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
{% endfor %}
