<!DOCTYPE html>
<html lang="fr">
    <head>
        {%- set description = "Le recueil où l'on peut trouver les meilleures répliques de Kaamelott en GIFs, mais on ne sait toujours pas où se trouve la poulette." %}

        <title>{% block title %}Les meilleures répliques de Kaamelott en GIFs{% endblock %}</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="author" content="Kaamelott Gifboard"/>
        <meta name="keywords" content="Kaamelott GIFs, GIFs animés, GIFs">

        <meta property="og:site_name" content="Kaamelott Gifboard">
        <meta property="og:locale" content="fr_FR">

        {% block canonical %}<link rel="canonical" href="https://kaamelott-gifboard.fr"/>{% endblock %}

        {% block meta -%}
        <meta name="description" content="{{ description }}">
        <meta property="og:title" content="Les meilleures répliques de Kaamelott en GIFs">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://kaamelott-gifboard.fr">
        <meta property="og:image" content="{{ absolute_url(asset('images/kg.png')) }}">
        <meta property="og:description" content="{{ description }}">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Les meilleures répliques de Kaamelott en GIFs">
        <meta name="twitter:creator" content="@KGifboard">
        <meta name="twitter:site" content="@KGifboard">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:image:src" content="{{ absolute_url(asset('images/kg.png')) }}">
        <meta name="twitter:image" content="{{ absolute_url(asset('images/kg.png')) }}">
        <meta name="twitter:domain" content="kaamelott-gifboard.fr">
        {% endblock %}

        {% set page = app.request.query.get('page', 1) %}
        {% if pagination is defined and pagination == true %}
            {% if page == 1 %}
                <link rel="next" href="{{ path('index') }}?page={{ page + 1 }}">
            {% elseif page > 1 %}
                <link rel="prev" href="{{ path('index') }}?page={{ page - 1 }}">
                <link rel="next" href="{{ path('index') }}?page={{ page + 1 }}">
            {% endif %}
        {% endif %}

        {% block stylesheets -%}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}?v=1.4" media="screen">
        <link rel="stylesheet" href="{{ asset('css/mobile.css') }}?v=1.4" media="screen and (max-width: 900px)" />
        {% endblock %}

        <script src="https://kit.fontawesome.com/ca7418fbe7.js" crossorigin="anonymous"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-KK4X4869Y1"></script>
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KN9R2P5');
        </script>
    </head>
    <body class="body">
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KN9R2P5" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <div id="notification"></div>
        <div>
            <div id="banner" class="banner">
                <h1><a href="{{ path('index') }}" class="no-style">Kaamelott Gifboard</a></h1>
            </div>
            <div id="main" class="main">
                {% block body %}{% endblock %}
            </div>
            <div id="footer" class="footer">
                <div class="footer-boxes">
                    <div class="footer-box-donate">
                        <div class="margin10">
                            <span class="fa fa-beer fa-2x" title="Buy me a coffee"></span>
                        </div>
                        Les caisses sont vides, plus un radis...<br /><br />
                        <a href="https://www.buymeacoffee.com/kaamelottgifs" target="_blank" class="footer-btn">
                            Offrez nous un godet à la taverne
                        </a>
                    </div>
                    <div class="footer-box-quote">
                        <div>
                            <i class="fa fa-quote-left fa-lg"></i>
                            <span id="footer-quote" data-url="{{ path('get_random') }}"></span>
                            <br /><br />
                            <span id="footer-character"></span>
                        </div>
                    </div>
                    <div class="footer-box-contribute">
                        <div class="margin10">
                            <span class="fa fa-github fa-2x" title="Github"></span>
                        </div>
                        Il manque un GIF et vous en avez gros ?<br /><br />
                        <a href="https://github.com/kaamelott-gifboard/kaamelott-gifboard" target="_blank" class="footer-btn">
                            Contribuez au projet
                        </a>
                    </div>
                </div>
                <div class="footer-tm">
                    <div class="margin10">
                        <a href="https://twitter.com/KGifboard"><i class="fa fa-twitter fa-lg"></i></a>
                    </div>
                    Elle est où la poulette ?™ - {{ "now"|date("Y") }}<br />
                    <span class="footer-tm-small">Certains droits réservés. On n'est pas des bêtes.</span>
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/script.js') }}?v=1.4"></script>
        {% endblock %}
    </body>
</html>
