{% extends 'base.html.twig' %}

{% import 'macros/input-copy.html.twig' as copy %}

{% block body %}
    <div class="input-block">
        <form action="{{ path('search_quote') }}">
            <input id="quotes" type="text" name="search" class="input-quote" value="{{ app.request.get('search') }}" data-url="{{ path('count_quotes') }}" />
            <button type="submit" class="search-quote"><i class="fa fa-search"></i></button>
        </form>
    </div>

    {% if current.quote is not defined %}
        <div id="characters" data-url="{{ path('get_characters') }}" class="characters" data-current="{{ app.request.get('name') }}"></div>
    {% endif %}

    {% if gifs is defined %}
        <ul>
            {% for gif in gifs %}
                <li class="li-gif">
                    <div class="square_btn" data-id="{{ gif.slug }}">
                        {{ gif.quote }}
                    </div>
                    <div id="{{ gif.slug }}-modal" class="modal-background">
                        <div class="modal-content">
                            <span class="modal-close">&times;</span>
                            <div id="modal-quote">{{ gif.quote }}</div>
                            <span id="{{ gif.slug }}-img" data-img="{{ gif.image }}"></span>
                            <div class="modal-gif">
                                <img id="{{ gif.slug }}-modal-img" /><br /><br />
                                {{ copy.block_mobile(gif.image) }}

                                {{ copy.block('Lien', gif.url, 'Lien vers la page du GIF') }}
                                {{ copy.block('Lien court', gif.shortUrl, 'Lien court vers la page du GIF') }}
                                {{ copy.block('Gif', gif.image, 'Image originale') }}
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block gif %}{% endblock %}
{% endblock %}
