{% extends 'base.html.twig' %}

{% block body %}
    <div class="input-block">
        <form action="{{ path('search_quote') }}">
            <input id="quotes" autocomplete="off" type="text" name="search" class="input-quote" value="{{ app.request.get('search') }}" data-url="{{ path('count_quotes') }}" data-search-url="{{ path('search_quotes') }}" />
            <button type="submit" class="search-quote"><i class="fa fa-search"></i></button>
        </form>
    </div>

    {% if current.quote is not defined %}
        <div id="characters" data-url="{{ path('get_characters') }}" class="characters" data-current="{{ app.request.get('name') }}">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
    {% endif %}

    <div id="gif-list">
        {% include 'includes/list.html.twig' %}
    </div>

    {% block gif %}{% endblock %}
{% endblock %}
