{% extends 'base.html.twig' %}

{% block body %}
    <div class="block">
        <form action="{{ path('search_quote') }}">
            <label for="quotes">Recherche :</label>
            <input id="quotes" type="text" name="search" class="input-quote" value="{{ app.request.get('search') }}" data-url="{{ path('search_count') }}" />
            <input type="submit" value="Go" />
        </form>
    </div>

    <br /><br />

    <div id="characters" data-url="{{ path('get_characters') }}" class="characters"></div>

    <br /><br />

    {% if gifs is defined %}
        <ul>
            {% for gif in gifs %}
                <li class="li-gif">
                    <div class="button-quote" onclick="showGif(this);" data-id="{{ gif.filename }}">
                        {{ gif.quote }}
                        <span
                            id="{{ gif.filename }}"
                            data-img="{{ asset('gifs/' ~ gif.filename) }}"
                            data-quote="{{ gif.quote }}"
                            data-url="{{ absolute_url(asset('gifs/' ~ gif.filename)) }}"
                        ></span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="modal-close">&times;</span>
            <span id="modal-quote"></span><br /><br />
            <img id="modal-img" /><br /><br />
            <textarea id="modal-link" rows="3" onclick="this.focus();this.select()" readonly="readonly"></textarea>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        function getByCharacter() {
            let character = document.getElementById("characters").value;

            window.location = "{{ path('search_character', {'name' : 'characterName' }) }}".replace('characterName', character);
        }
    </script>
{% endblock %}
