{% extends 'body.html.twig' %}

{% import 'macros/input-copy.html.twig' as copy %}

{% set title = 'Les meilleures répliques de Kaamelott en GIFs' %}

{% block title %}{{ title }}{% endblock %}

{% block canonical %}<link rel="canonical" href="{{ current.url }}"/>{% endblock %}

{% block meta -%}
    {% if current.quote|length < 50 %}
        {% set description = current.quote ~ ' Les meilleures répliques de Kaamelott en GIFs' %}
    {% else %}
        {% set description = current.quote %}
    {% endif %}

    <meta name="description" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ current.image }}">
    <meta property="og:image" content="{{ current.image }}">
    <meta property="og:image:type" content="image/gif">
    {% if current.width is not null and current.height is not null -%}
        <meta property="og:image:width" content="{{ current.width }}">
        <meta property="og:image:height" content="{{ current.height }}">
    {% endif %}
{% endblock %}

{% block gif %}
    <div class="quote-block">
        <h2 class="quote">{{ current.quote }}</h2>
    </div>

    <br />

    <div class="slideshow">
        <div class="slideshow_button left_none">
            <a href="{{ previous.url }}">
                <i class="fa fa-chevron-circle-left" style="font-size: 40px;"></i>
            </a>
        </div>
        <div class="slideshow_gif">
            <img src="{{ current.image }}" alt="{{ current.quote }}" class="single-gif"/>
        </div>
        <div class="slideshow_button right_none">
            <a href="{{ next.url }}">
                <i class="fa fa-chevron-circle-right" style="font-size: 40px;"></i>
            </a>
        </div>
    </div>

    <div class="quote-characters">
        {% for character in current.characters %}
            <div class="quote-character-block">
                <a href="{{ character.url }}">
                    <img src="{{ character.image }}" class="character-icon-quote icon-dark-shadow"
                         alt="{{ character.name }}" title="{{ character.name }}"/>
                </a>
            </div>
        {% endfor %}
    </div>

    {{ copy.block_mobile(current.image) }}

    {{ copy.block('Lien', current.url, 'Lien vers cette page') }}
    {{ copy.block('Lien court', current.shortUrl, 'Lien court vers cette page') }}
    {{ copy.block('GIF', current.image, 'Image originale') }}
{% endblock %}
